.title {
  font-family: Roboto;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.logo,.menu {
  display: inline-block;
}

.header {
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 142px;
}

.logo {
  position: relative;
  font: bold 24px/32px 'pt_serif', serif, arial, helvetica, sans-serif;
  padding: 40px 0;
  padding-left: 44px;
}


.menu {
  padding-top: 6px 0;
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 28px;
  font: bold 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:last-child {
  margin-right: 6px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50px;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56px;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0.5;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 65px 55% 198px 0;
  background: url(img/mainImg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
}

.main__title {
  width: 550px;
  margin: 0 0 45px 0;
  font: bold 65px/60px 'pt_serif', arial, helvetica, sans-serif;
  line-height: 128%;
}

.main__subtitle {
  width: 450px;
  margin: 0 0 50px 0;
  font: bold 22px/25px 'Roboto', arial, helvetica, sans-serif;
  line-height: 22px;
}

.main__button {
  display: inline-block;
  font: 500 19px/16px Roboto, arial, helvetica, sans-serif;
  padding: 15px 28px 19px 22px;
  color: #fff;
  background: #0056ec;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity 0.5s;
  line-height: 21px;
}

.main__button:hover {
  opacity: 0.5;
}

.main__title_highlight {
  line-height: 20px;
  background: #ecf3ff;
}

@media (min-width: 1367px) {
  #checkbox_id {
    display: none;
  }
}

@media (max-width: 1366px) {
  .wrapper {
    width: 70%;
  }
  .logo,.menu {
    display: inline-block;
  }

  .header {
    margin-bottom: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    left: 17px;
    font: bold 24px/32px 'pt_serif', serif, arial, helvetica, sans-serif;
  }


  .menu {
    position: relative;
    align-items: center;
  }

  .menu__item {
    font: bold 14px/21px 'Roboto', arial, helvetica, sans-serif;
    top: 4px;
    margin-right: 21px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
  }

  .menu__item:last-child {
    margin-right: 8px;
  }

  .logo__circle {
    position: absolute;
    top: 54px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
    left: 0;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 61px;
    background: #c8dbfb;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056ec;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .menu__item:hover {
    opacity: 0.5;
  }

  .menu__item:hover::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
    opacity: 0.5;
    transition: opacity 0.5s, width 0.5s;
  }

  .menu__item:hover::after,
  .menu__item_active::after {
    opacity: 1;
    width: 100%;
    top: 16px;
  }

  .main {
    padding: 65px 55% 198px 0;
    background: url(img/mainImg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
  }

  .main__title {
    width: 100%;
    font: normal 51px/63px 'pt_serif', arial, helvetica, sans-serif;
    margin: -44px 0 1px 0;
    display: inline-block;
    padding-left: 15px;
    word-spacing: -3px;
  }

  .main__subtitle {
    width: 366px;
    margin: 41px 0 40px 16px;
    font: 600 18px/21px 'Roboto', arial, helvetica, sans-serif;
    line-height: 22px;
    padding-top: 1px;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    border-radius: 4px;
    text-decoration: none;
    transition: opacity 0.5s;
    padding: 15px 26px 13px 17px;
    margin-left: 17px;
  }

  .main__button:hover {
    opacity: 0.5;
  }

  .main__title_highlight {
    line-height: 20px;
    background: #ecf3ff;
    padding-left: 0;
    word-spacing: -4px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 99%;
  }

  .logo,.menu {
    display: inline-block;
  }

  .header {
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    left: 41px;
    font: bold 24px/32px 'pt_serif', serif, arial, helvetica, sans-serif;
  }

  .menu {
    margin-right: 18px;
    position: relative;
    align-items: center;
  }

  .menu__item {
    margin-right: 23px;
    font: 600 14px/12px 'Roboto', arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
  }

  .menu__item:last-child {
    margin-right: 6px;
  }

  .logo__circle {
    position: absolute;
    top: 54px;
    left: 0;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 61px;
    background: #c8dbfb;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .menu__item_active::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056ec;
  }

  .menu__item::after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .menu__item:hover {
    opacity: 0.5;
  }

  .menu__item:hover::after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056ec;
    opacity: 0.5;
    transition: opacity 0.5s, width 0.5s;
  }

  .menu__item:hover::after,
  .menu__item_active::after {
    opacity: 1;
    width: 100%;
  }

  .main {
    padding: 64px 52% 199px 0;
    background: url(img/mainImg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 54%;
  }

  .main__title {
    width: 100%;
    font: normal 51px/63px 'pt_serif', arial, helvetica, sans-serif;
    display: inline-block;
    padding-left: 41px;
    word-spacing: -3px;
  }

  .main__subtitle {
    width: 373px;
    margin: 40px 43px 31px 43px;
    padding-bottom: 12px;
    font: 600 18px/20px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    border-radius: 4px;
    text-decoration: none;
    transition: opacity 0.5s;
    line-height: 0;
    margin-left: 41px;
    padding: 22px 27px 22px 16px;
  }

  .main__button:hover {
    opacity: 0.5;
  }

  .main__title_highlight {
    line-height: 20px;
    background: #ecf3ff;
    padding-left: 0;
    word-spacing: -4px;
  }
}

@media (min-width: 901px) {
  .label {
    display: none;
  }

  #checkbox_id {
    display: none;
  }
}

@media (max-width: 900px) {
  .header {
    margin-bottom: 28px;
  }

  .logo__text {
    display: none;
  }

  .menu {
    display: none;
  }

  .main {
    font-weight: 600px;
    text-align: center;
    padding: 67% 0;
    background-size: 65%;
    background-position: top center;
   }

  .main__title {
    width: 69%;
    margin: 0 auto;
    margin-bottom: 44px;
    font-weight: 700px;
    font-family: 'pt_serif', arial, helvetica, sans-serif;
    font-size: 30px;
    line-height: 39px;
   }

  .main__subtitle {
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    width: 45%;
    margin: 0 auto;
    padding: 0 0 25px 0;
   }

  .main__botton {
    font-weight: 500px;
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
   }
}

@media (max-width: 375px) {
  .wrapper {
    width: 100%;
 }

  .header {
    margin-bottom: 9px;
 }
 
  .logo__circle {
    position: absolute;
    top: 38px;
    left: -17px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__circle_color_blue {
    left: -8px;
    top: 45px;
    background: #c8dbfb;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .main {
    text-align: center;
    padding: 81% 0;
    background-size: 80%;
    background-position: top center;
    margin-left: 14px;
  }

  .main__title {
    width: 69%;
    margin: -31px 1px 18px 0;
    font-family: 'pt_serif', arial, helvetica, sans-serif;
    font-size: 30px;
    line-height: 39px;
    word-spacing: 0;
    padding-right: 32px;
  }

  .main__subtitle {
    margin-bottom: 6px;
    font-weight: 500px;
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    width: 254px;
    padding-top: 16px;
    padding-left: 0;
    margin: 1px 0 5px 44px;
  }
 
  .main__button {
    font: 500 14px/23px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056ec;
    border-radius: 4px;
    text-decoration: none;
    transition: opacity 0.5s;
    line-height: 2;
    margin: -4px 0 -13px 5px;
    padding-top: 9px;
    padding-bottom: 7px;
  }

  .main__button:hover {
    opacity: 0.5;
  }

  .main__title_highlight {
    line-height: 21px;
    background: #ecf3ff;
    padding-left: 0;
    word-spacing: 0;
  }

  .burger__nav {
    position: relative;
    margin-right: 60px;
    width: 29px;
    height: 18px;
    cursor: pointer;
  }

  .burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #0056ec;
    top: 7px;
  }

  .burger__nav::before,
  .burger__nav::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #0056ec;
    position: absolute;
    transition: 0.3s ease;
  }

  .burger__nav::before {
    top: 0;
  }

  .burger__nav::after {
    bottom: 0;
  }

  #checkbox_id:checked ~ .menu {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #checkbox_id:checked ~ .menu > .menu__item {
    color: black;
    text-decoration: none;
    font-size: 37px;
    font-weight: 600;
  }

  #checkbox_id:checked ~ .label > .burger__nav::before {
    transform: rotate(45deg);
    top: 7px;
  }

  #checkbox_id:checked ~ .label > .burger__nav::after {
    transform: rotate(-45deg);
    top: 7px;
  }

  #checkbox_id:checked ~ .label > .burger__nav > .burger__line {
    display: none;
  }

  #checkbox_id:checked ~ .menu > .menu__item::after {
    width: 0;
  }
}

.burger__nav {
  position: relative;
  margin-right: 5px;
  width: 29px;
  height: 17px;
  cursor: pointer;
  }

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #0056ec;
  top: 7px;
  }

.burger__nav::before,
.burger__nav::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #0056ec;
  position: absolute;
  transition: 0.3s ease;
  }

.burger__nav::before {
  top: 0;
  }

.burger__nav::after {
  bottom: 0;
  }

#checkbox_id:checked ~ .menu {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 2px 0 0 0;
  }

#checkbox_id:checked ~ .menu > .menu__item {
  color: black;
  text-decoration: none;
  font-size: 31px;
  font-weight: 600;
  height: 40px;
  display: block;
  margin: 0 24px 20px 40px;
  word-spacing: 0;
  }

#checkbox_id:checked ~ .label > .burger__nav::before {
  transform: rotate(45deg);
  top: 7px;
  }

#checkbox_id:checked ~ .label > .burger__nav::after {
  transform: rotate(-45deg);
  top: 7px;
  }

#checkbox_id:checked ~ .label > .burger__nav > .burger__line {
  display: none;
  }

#checkbox_id:checked ~ .menu > .menu__item::after {
  width: 0;
  }

#checkbox_id {
  display: none;
  }
